@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2563eb;      /* bleu */
  --color-primary-hover: #1d4ed8;
  --color-bg: #f9fafb;
  --color-error-bg: #fee2e2;
  --color-error-text: #b91c1c;
  --color-white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b5a9a9;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
